{% extends "base.html" %}



{% block script %}

<style >
  h9{
    margin-top: -6%;

    margin-left:  55%;

    color: gray;

    font-size: 13px;
  }

  .card{
    margin-bottom: 40px;
  }
  .line{
    background-color: lightgrey;
  }
  .card-body{
    background-color: rgb(52, 97, 122);

border-radius: 5px;

margin-top: 10px;
  }
</style>

<script >
function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}


$(document.body).on("click", ".tweet-reply", function(e){
    e.preventDefault()
    var this_ = $(this)
    var parentId = this_.attr("data-id")
    var username = this_.attr("data-user")
    var content = this_.parent().parent().find(".content").text()
    $("#replyModal").modal({})
    $("#replyModal textarea").after("<input type='hidden' value='" + parentId + "' name='parent_id' />")
    $("#replyModal textarea").after("<input type='hidden' value='" + true + "' name='reply' />")
    $("#replyModal textarea").val("@" + username + " ")
    $("#replyModal #replyModalLabel").text("Reply to " + content)
    $("#replyModal").on("shown.bs.modal", function(){
      $('textarea').focus()
    })
  })



$(document.body).on("click",".tweet-like",function(e)
    {
      e.preventDefault()
      var this_=$(this)
      var tweetId=this_.attr("data-id")
      console.log(tweetId)
      var likedurl='/api/tweet/'+tweetId+'/like/'
      console.log(likedurl)

      $.ajax({
        method:"GET",
        url:likedurl,
        success: function(data){
          if(data.liked)
          {
            this_.text("UnLike")
          }
          else
          {
            this_.text("Like")
          }
        }
      })
    })  


 $(document).ready(function() {
    console.log("working");
    var query = getParameterByName('q')
    var tweeetList=[];
    var nextTweetUrl;


    function attachTweet(value, prepend,retweet){
        var tweetcontent=value.content;
        var tweetuser= value.user.username;
        var image = value.image;
        var timesamp= value.date_display;
        var userurl=value.user.url
        console.log(value.url);
        var timesince= value.timesince;
        var tweetFormattedHtml;
        var verb = 'Like';
        if(value.did_like)
        {
          verb='UnLike'
        }

        if(retweet && value.parent)
        {
          if (image==null) 
         {
         tweetFormattedHtml= "<div ><div class=\'card text-white bg-dark\' style=\"width:550px; padding: 24px; margin-top: -27px; margin-bottom =100%;\"> <h5 >" +"<a href='"+userurl+ "'>"+tweetuser + "</a></h5><h9>Retweeted via "+value.parent.user.username +" at "+timesince+"</h9>"+"<img class='card-img-top'  " +"style=\"width: 500px;\"><div class=\'card-body\'><p  class=\'card-text\'>" + tweetcontent + "</p></div><div></div><hr class=\'line\'/>"+"<a href ='/tweet/"+value.id+"'"+">View</a>"
         +"<a href ='/tweet/"+value.id+"/retweet/'"+">Retweet</a>"+"<a href ='#' class='tweet-like' data-id="+value.id+">"+verb+"("+value.likes+")</a></hr>"



          }
          else
          {
         tweetFormattedHtml= "<div ><div class=\'card text-white bg-dark\' style=\"width:550px; padding: 24px; margin-top: -27px; margin-bottom =100%;\"> <h5 >" +"<a href='"+userurl+ "'>"+tweetuser + "</a></h5>"+"<h9>Retweeted via "+value.parent.user.username + "at "+timesince+"</h9>"+"<img class='card-img-top'  src=" +  image +" alt='No\' '" +"style=\"width: 500px;\"><div class=\'card-body\'><p  class=\'card-text\'>" + tweetcontent + "</p></div><div></div><hr class=\'line\'/>"+"<a href ='/tweet/"+value.id+"'"+">View</a>"+"<a href ='/tweet/"+value.id+"/retweet/'"+">Retweet</a>"+"<a href ='#' class='tweet-like' data-id="+value.id+">"+verb+"("+value.likes+")</a></hr>"

          }

        }else
        {
          if (image==null) 
         {
         tweetFormattedHtml= "<div ><div class=\'card text-white bg-dark\' style=\"width:550px; padding: 24px; margin-top: -27px; margin-bottom =100%;\"> <h5 >" +"<a href='"+userurl+ "'>"+tweetuser + "</a></h5>" +"<h9>"+ timesamp + "| " + timesince +"</h9>"+ "<img class='card-img-top'  " +"style=\"width: 500px;\"><div class=\'card-body\'><p  class=\'card-text\'>" + tweetcontent + "</p></div><div></div><hr class=\'line\'/>"+"<a href ='/tweet/"+value.id+"'"+">View</a>"+"<a href ='/tweet/"+value.id+"/retweet/'"+">Retweet</a>" +  "<a href ='#' class='tweet-like' data-id="+value.id+">"+verb+"("+value.likes+")</a></hr>"

          }
          else
          {
           tweetFormattedHtml= "<div ><div class=\'card text-white bg-dark\' style=\"width:550px; padding: 24px; margin-top: -27px; margin-bottom =100%;\"> <h5 >" +"<a href='"+userurl+ "'>"+tweetuser + "</a></h5>"+ "<h9>"+ timesamp + "| " + timesince +"</h9>"+"<img class='card-img-top'  src=" +  image +" alt='No\' '" +"style=\"width: 500px;\"><div class=\'card-body\'><p  class=\'card-text\'>" + tweetcontent + "</p></div><div></div><hr class=\'line\'/><a href ='/tweet/"+value.id+"'"+">View</a>"+"<a href ='/tweet/"+value.id+"/retweet/'"+">Retweet</a>"+"<a href ='#' class='tweet-like' data-id="+value.id+">"+verb+"("+value.likes+")</a></hr>"


          }

        }
         
            
        if (prepend==true){
          $("#tweet-container").prepend(tweetFormattedHtml)
        }else{
          $("#tweet-container").append(tweetFormattedHtml)
        }
    }

    function parseTweets()
    {
      if (tweeetList == 0) 
      {
        $("#tweet-container").text("No tweet found")
      }
      else
      {

        $.each(tweeetList , function(key ,value){
            var tweetKey=key;
            if(value.parent)
            {
              attachTweet(value,false,true)
            }else
            {
              attachTweet(value)

            }
             
        })
      }
      
    }




function fetchTweets(url){
      console.log("fetching..")
      var fetchUrl;
      if(!url)
      {
        fetchUrl="/api/tweet/"
      }else{
        fetchUrl=url
      }
      $.ajax({url:fetchUrl ,
      data:{
        "q": query
      },
      success: function(data){
        tweeetList=data.results
        
        
        if (data.next) {
          nextTweetUrl=data.next
        }else
        {
          $('#load-more').css("display","none")

        }
        parseTweets();
      },error: function(data) {
          console.log(data);
          console.log("error")

        }


      })
    }

    
    
fetchTweets()

$('#load-more').click(function(event)
{
  event.preventDefault()
  if (nextTweetUrl) 
  {
    fetchTweets(nextTweetUrl)
  }

})

var charsStart=140;
var charsCurrent= 0;

$("#tweet-form").append("<span id='tweetCharsLeft'>" + charsStart + "</span> ")

$("#tweet-form textarea").keyup(function(event) {
  var tweetValue= $(this).val()
  charsCurrent= charsStart - tweetValue.length;
  $("#tweetCharsLeft").text(charsCurrent);
  var spanChars= $("#tweetCharsLeft")

  if(charsCurrent>0){
    spanChars.removeClass("grey-color")
    spanChars.removeClass("red-color")

  }else if( charsCurrent==0){
    spanChars.removeClass("grey -color")
     spanChars.addClass("red-color")
  }else if( charsCurrent<0){
    spanChars.removeClass("grey -color")
     spanChars.addClass("red-color") 
  }
});


//image issues
$("#tweet-form").submit(function(event){
  event.preventDefault();
  // var formData2 = new FormData(this);
  // console.log(formData2)
  // console.log("dasjfhdljkfhajdk")
  // var this_ = $(this)
  // var formData= this_.serialize()
  //  console.log(formData)
  if( charsCurrent > 0){
    console.log(charsCurrent)
    console.log("jadhfladjskhfdasjkfh")
    $.ajax({url: "/api/tweet/create/",
        enctype: 'multipart/form-data',
        data:new FormData(this),
        method:"POST",
        
        processData: false,
        contentType: false,
        success: function(data){
        //  this_.find("input[type=text], textarea").val(" ")
          console.log(data)
          attachTweet(data,true)
        },
        error: function(data) {
          console.log(data)
          console.log("error")
        }
      }
    )
  }else{
    console.log("cant send ")
    console.log(charsCurrent)
  }
  

})

 


}); 


</script>




{% endblock script %}

{% block content %}

  

    

 
       
        <div class="row">
         <div class="col-sm-8 col-sm-offset-2" >
           <h2 >{{ request.user}}</h2>
         </div>
       <div class="col-sm-9" style="margin-left: 27%">

        {% if not request.GET.q %}
        <div class="">
          {%  include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet' form_id='tweet-form' %}
        </div>
        <hr/>
        {% endif %}
          <div id='tweet-container'>     
          </div>
          <a href="#" id="load-more"> Load Tweets</a>

    </div>
  </div>

 
  
   
{%  endblock content %}

