{% extends "base.html" %}


{% block content %}
  
   <div class="row align-items-center">
         <div class="col-sm-4">
        {% include "tweets/search_form.html" %}<br/>
        {% for obj in object_list %}
        <div class="media">
         {% if obj.image.url != null %}
          <img src="{{ obj.image.url}}" height="150" width="150" class="mr-3" alt="..."><br/>
          {% endif %}
        <div class="media-body">
          <h4>{{obj.content }}</h4><br/>
          via {{obj.user}} | {{ obj.timestamp|timesince}} ago | <a href="{{ obj.get_absolute_url}}">View</a>
          
         </div>
        </div>
        <hr/>


       
      {% empty %}
          {% if request.GET.q %}
          <p>No tweet found</p>
          {% else %}
          <p>No tweet yet</p>
          {% endif%}
       
      {% endfor %}
      </div>
    </div>
   
{%  endblock content %}
